@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.MuiSwitch-track {
  background: #7f7f7f !important;
}

.MuiOutlinedInput-notchedOutline {
  border: thick double !important;
  border-radius: 30px !important;
}

.MuiSelect-icon {
  color: inherit !important;
}


@media (max-device-width: 605px) {
  .MuiSelect-select, .MuiFormLabel-root, .MuiInputBase-root, .MuiSvgIcon-root, .MuiButtonBase-root {
      font-size: 2.5rem !important;
  }
}

@media (max-device-width: 605px) {
  .MuiInputBase-root {
    top: 10px !important;
  }
}

@media (min-device-width: 605px) {
  .MuiSelect-select, .MuiFormLabel-root, .MuiInputBase-root, .MuiSvgIcon-root, .MuiButtonBase-root {
    font-size: 1.5rem !important;
  }
}

@media (min-device-width: 605px) {
  .MuiInputBase-root {
    top: 5px !important;
  }
}

@media (min-device-width: 1005px) {
  .MuiSelect-select, .MuiFormLabel-root, .MuiInputBase-root, .MuiSvgIcon-root, .MuiButtonBase-root {
    font-size: 1rem !important;
  }
}

@media (min-device-width: 1005px) {
  .MuiInputBase-root {
    top: 5px !important;
  }
}

@media (min-device-width: 1005px) {
    .card_open:active {
      transform: rotateY(180deg);
      transform-style: preserve-3d;
      perspective: 1000px;
    }
}





